Architecture: amd64
Depends: libgpgme11,
	 libgpgme11t64,
	 libqt6charts6,
	 libqt6core6t64,
	 libqt6gui6t64,
	 libqt6network6t64,
	 libqt6printsupport6t64,
	 libqt6qml6,
	 libqt6sql6t64,
	 libqt6webenginecore6,
	 libqt6webenginewidgets6,
	 libqt6widgets6t64
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Dooble
Priority: optional
Section: Internet
Version: 2025.11.25
Description: Dooble Web Browser
 Welcome to the Dooble Web Browser!
 A dooble.desktop file will also be installed in /usr/share/applications/.
