Architecture: amd64
Installed-Size: 330264
Maintainer: textbrowser@gmail.com
Package: Dooble
Priority: optional
Section: web
Version: 2.1.2
Description: Dooble Web Browser
 Welcome to the Dooble Web Browser!
 A dooble.desktop file will also be installed in /usr/share/applications/.
