Architecture: amd64
Maintainer: textbrowser@gmail.com
Package: Dooble
Priority: optional
Section: Internet
Version: 2019.02.10
Description: Dooble Web Browser
 Welcome to the Dooble Web Browser!
 A dooble.desktop file will also be installed in /usr/share/applications/.
