# https://specifications.freedesktop.org/desktop-entry-spec/latest/apa.html

[Desktop Entry]
Name=Dooble Web Browser
GenericName=Dooble Web Browser
Comment=Dooble Web Browser
Exec=dooble
Icon=dooble
StartupNotify=true
Terminal=false
Type=Application
Categories=Web
