* {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans";
}
body {
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff), color-stop(0.5, #fff));
    background-repeat: repeat-x;
    margin-top: 100px;
}
#header, #search, #footer {
    width: 500px;
    margin: 10px auto;
}
#header, #search {
    -webkit-border-radius: 0.8em;
    padding: 25px;
}
#header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 0, 255)), to(rgba(255, 0, 0, 255)));
	
    height: 20px;
}
#header2 {
    background: -webkit-gradient(linear, from(#228), to(#668), color-stop(0.9, #66a));
    height: 10px;
}
#header h1 {
    display: inline;
    font-size: 1.7em;
    color: #fff;
    font-weight: bold;
}
#header img {
    display: inline;
    float: right;
    height: 150px;
    margin-top: -80px;
}
#search {
    background: -webkit-gradient(linear, left top, right top, from(#cdf), to(#cdf), color-stop(0.5, #eff));
    height: 50px;
    color: #000;
    text-align: center;
    padding-top: 40px !important;
}
#search fieldset {
    border: 0;
}
#search input[type=text] {
    width: 65%;
}
#search input[type=submit] {
    width: 5%;
}
#footer {
    text-align: center;
    color: #999;
}
#footer a {
    color: #555;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
