Architecture: arm64
Depends: libqt6charts6,
	 libqt6core6,
	 libqt6gui6,
	 libqt6network6,
	 libqt6printsupport6,
	 libqt6qml6,
	 libqt6sql6,
	 libqt6webenginecore6,
	 libqt6webenginewidgets6,
	 libqt6widgets6
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Dooble
Priority: optional
Section: Internet
Version: 2024.08.19
Description: Dooble Web Browser
 Welcome to the Dooble Web Browser on PiOS!
 A dooble.desktop file will also be installed in /usr/share/applications/.
