# https://specifications.freedesktop.org/desktop-entry-spec/latest/apa.html

[Desktop Entry]
Categories=Web
Comment=Dooble Web Browser
Exec=/opt/dooble/dooble.sh
GenericName=Dooble Web Browser
Icon=/opt/dooble/dooble.png
Name=Dooble Web Browser
StartupNotify=true
Terminal=false
Type=Application
